#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
}

/* Light theme */
.app-light {
  background-color: #f8f9fa;
  color: #212529;
}

/* Dark theme */
.app-dark {
  background-color: #212529;
  color: #f8f9fa;
}